* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #000;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 50px;
    background: #111;
    border-bottom: 1px solid #333;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.logo img {
    height: 65px;
    cursor: pointer;
}

.nav-wrapper {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-links {
    display: flex;
    gap: 25px;
    list-style: none;
}

.nav-links a {
    color: #ddd;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s;
}

.nav-links a:hover {
    color: red;
}

.btns {
    display: flex;
    gap: 12px;
}

.franchise-btn {
    padding: 12px 24px;
    border: 1px solid white;
    border-radius: 30px;
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.franchise-btn:hover {
    background: white;
    color: black;
}

.order-btn {
    padding: 12px 24px;
    background: #E50914;
    color: white;
    border-radius: 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 6px;
    font-weight: bold;
    transition: 0.3s;
}

.order-btn:hover {
    background: #B00610;
}

.arrow {
    background: white;
    color: red;
    border-radius: 50%;
    padding: 3px 6px;
}

.banner {
    width: 100%;
    height: 100vh;
    margin-top: 80px;
    overflow: hidden;
}

.banner img {
    width: 100%;
    height: 100%;
}

.brand-intro {
    text-align: center;
    color: white;
    margin-top: 60px;
    margin-bottom: 50px;
}

.brand-intro h2 {
    font-size: 38px;
    font-weight: 300;
}

.brand-intro h2 span {
    font-weight: 900;
    font-size: 42px;
}

.brand-intro h3 {
    font-size: 32px;
    margin-top: 10px;
}

.brand-intro p {
    color: #bfbfbf;
    margin-top: 15px;
    font-size: 16px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 80px 0;
}

.card-box {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.card {
    background: #fff;
    padding: 30px;
    border-radius: 8px;
    width: 330px;
    height: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card img {
    width: 100%;
    border-radius: 12px;
}

.btn {
    padding: 14px 40px;
    background: #000;
    border: 2px solid #444;
    border-radius: 50px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
    width: 250px;
    margin-left: 45px;

}

.btn:hover {
    border-color: white;
}

.franchise-section {
    width: 80%;
    margin: auto;
    padding-bottom: 80px;
    color: white;
}

.franchise-title {
    text-align: center;
    font-size: 40px;
    margin-top: 40px;
    font-weight: 900;
}

.franchise-subtitle {
    text-align: center;
    font-size: 28px;
    margin-top: 8px;
}

.franchise-text {
    text-align: center;
    color: #bfbfbf;
    margin-top: 12px;
    margin-bottom: 40px;
}

.franchise-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0;
    gap: 50px;
}

.franchise-info {
    width: 50%;
}

.city {
    color: #ff3333;
    letter-spacing: 3px;
    font-size: 14px;
    margin-bottom: 8px;
}

.fname {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 15px;
}

.franchise-info p {
    margin: 6px 0;
    color: rgb(210, 210, 210);
}

.dir-btn {

    padding: 12px 30px;
    background: #000;
    border: 1px solid #666;
    border-radius: 30px;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.dir-btn:hover {
    border-color: white;
}


.express-dark-section {
    padding: 100px 40px;
    background: #000;
}

.express-dark-grid {
    max-width: 1400px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}


.express-dark-card {
    background: #0b0b0b;
    border-radius: 12px;
    padding: 25px;
    text-align: center;
    color: #fff;
}


.express-dark-card img {
    width: 100%;
    height: 260px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 25px;
}


.city-name {
    color: #ff2b2b;
    font-size: 13px;
    letter-spacing: 3px;
    display: block;
    margin-bottom: 10px;
}


.express-dark-card h3 {
    font-size: 26px;
    margin-bottom: 20px;
}

.express-dark-card h3 span {
    font-size: 20px;
    font-weight: 300;
}


.express-dark-card p {
    font-size: 14px;
    color: #ccc;
    margin: 8px 0;
}


.dark-btn {
    margin-top: 30px;
    padding: 12px 28px;
    border-radius: 40px;
    border: 1px solid #666;
    background: transparent;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    transition: 0.3s;
}

.dark-btn span {
    background: #fff;
    color: #000;
    padding: 4px 7px;
    border-radius: 50%;
    font-size: 12px;
}

.dark-btn:hover {
    border-color: #fff;
}


.village-franchise {
    background: #000;
    padding: 100px 60px;
}

.village-wrapper {
    max-width: 1400px;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 60px;
}

.village-img {
    width: 55%;
}

.village-img img {
    width: 100%;
    border-radius: 6px;
}

.village-content {
    width: 45%;
    color: #fff;
}

.village-content h2 {
    font-size: 36px;
    font-weight: 300;
}

.village-content h1 {
    font-size: 46px;
    font-weight: 900;
    margin-bottom: 25px;
}

.village-city {
    color: #ff2b2b;
    letter-spacing: 5px;
    font-size: 14px;
    display: block;
    margin-bottom: 10px;
}

.village-content h3 {
    font-size: 28px;
    margin-bottom: 20px;
}

.village-content h3 span {
    font-weight: 300;
}

.village-content p {
    color: #ccc;
    font-size: 15px;
    margin: 8px 0;
}

.village-btn {
    margin-top: 30px;
    padding: 14px 32px;
    border-radius: 40px;
    border: 1px solid #666;
    background: transparent;
    color: #fff;
    background-color: green;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 12px;
    transition: 0.4s;
}

.village-btn span {
    background: #fff;
    color: #000;
    padding: 5px 8px;
    border-radius: 50%;
}

.village-btn:hover {
   border: 1px solid green;
   background: transparent;
    
}


.opening-soon {
    background: #000;
    padding: 120px 60px;
    text-align: center;
    color: #fff;
}

.opening-soon h2 {
    font-size: 38px;
    font-weight: 300;
}

.opening-soon h1 {
    font-size: 44px;
    font-weight: 900;
    margin-bottom: 60px;
}

.opening-soon h1 span {
    font-size: 20px;
    font-weight: 300;
}


.opening-grid {
    max-width: 1400px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.opening-card {
    background: #fff;
    color: #000;
    padding: 45px 30px;
    border-radius: 8px;
}


.pin {
    font-size: 28px;
    margin-bottom: 12px;
}

.soon {
    color: #ff2b2b;
    font-size: 11px;
    letter-spacing: 4px;
    display: block;
    margin-bottom: 15px;
}


.opening-card h3 {
    font-size: 22px;
    margin-bottom: 15px;
}

.opening-card h3 span {
    font-weight: 300;
}

.opening-card p {
    font-size: 15px;
    margin: 4px 0;
}


.main-footer {
    background: #0b0b0b;
    padding: 80px 60px;
    color: #ccc;
}

.footer-wrapper {
    max-width: 1400px;
    margin: auto;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr 1fr;
    gap: 50px;
}

.footer-col img {
    width: 180px;
    margin-bottom: 25px;
}

.footer-col p {
    font-size: 14px;
    line-height: 1.7;
    margin-bottom: 15px;
}

.footer-links a {
    color: #ccc;
    font-size: 13px;
    margin-right: 15px;
    text-decoration: none;
}

.footer-col h3 {
    color: #fff;
    margin-bottom: 20px;
}

.footer-col h4 {
    color: #fff;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 6px;
}

.footer-col ul {
    list-style: none;
}

.footer-col ul li {
    margin-bottom: 12px;
    font-size: 14px;
    cursor: pointer;
}

.social-icons {
    display: flex;
    gap: 15px;
    margin-bottom: 25px;
}

.social-icons a {
    width: 38px;
    height: 38px;
    background: #e50914;
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    transition: 0.3s;
}

.social-icons a:hover {
    background: #fff;
    color: #e50914;
}


.store {
    width: 160px;
    display: block;
    margin-bottom: 15px;
}